html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}
body {
    font-family: 'Gloria Hallelujah', cursive;
    background-color: #7b8b5f;
    color: #fff;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
}

/* #container {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
#game {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dialog {
    background-color: #76865a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 30px;
    border: 2px solid #1a2125;
    border-radius: 5px;
    min-height: 700px;
    min-width: 700px;
    max-height: 1000px;
    max-width: 1000px;
    height: 100%;
    width: 100%;
}
.dialog h1 {
    font-size: 6em;
    color: #000;
}
.dialog h2 {
    font-size: 4em;
}
button {
    color: #fff;
    border: none;
    background: transparent;
    font-size: 2em;
    font-family: 'Gloria Hallelujah', cursive;
    cursor: pointer;
}
button:hover {
    color: rgb(197, 194, 194);
}
button:focus {
    outline: none;
}
svg {
    width: 30px;
}
.arrow {
    position: absolute;
    bottom: 50px;
    right: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;
    color: #fff;
}
canvas {
    border: 1px solid #000;
    image-rendering: optimizeSpeed;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}
#container span {
    align-self: flex-start;
    margin-top: 130px;
    margin-left: 30px;
    font-size: 1.4em;
} */
header ul {
    display: flex;
    justify-content: center;
}
ul li {
    padding: 10px 15px;
}
button {
    color: #fff;
    border: 3px solid #fff;
    background-color: transparent;
    font-size: 20px;
    padding: 10px 20px;
}
